@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

:root {
    --branco-principal: #FFF;
    --preto-principal: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 75%;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: 
    linear-gradient(to right, var(--preto-principal), rgba(0, 0, 0, 0.75)), url("img/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    overflow: hidden;
}

/*Header's code*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.logo-image {
  width: 7.5rem;
}

.ul-header li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1.3rem;
}

.ul-header a {
  text-decoration: none;
  color: var(--branco-principal);
  font-size: 1.5rem;
  transition: 0.5s;
}

.ul-header a:hover {
  background-color: var(--branco-principal);
  color: var(--preto-principal);
}



/*Main's code*/
main {
  width: 100%;
  height: 62.1vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

main h1 {
    color: var(--branco-principal);
}

.workout-flex {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-container {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    cursor: pointer;
}

.workout-container h2 {
    color: var(--branco-principal);
    text-align: center;
}

.workout-image {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.workout-button {
    background-color: #111E31;
    color: var(--branco-principal);
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
    border: none;
    
}




/*Foot's code*/
footer {
  display: flex;
  justify-content: right;
  padding: 2rem;
}

.footer-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.copyright-container {
  display: flex;
  flex-direction: column;
}

.logo-image-container {
    margin: 0 auto;
}

.copyright-text {
  color: var(--branco-principal);
  font-size: 1.3rem;
  margin-top: 1rem;
}

.copyright-letter {
  font-size: 1.5rem;
  vertical-align: middle;
}

.container-social-media {
  color: var(--branco-principal)
}

.social-media-text {
    text-align: center;
    font-size: 1.5rem;
    margin-right: 5rem;
}

.ul-footer {
  display: flex;
}

.ul-footer li {
  list-style-type: none;
  margin-right: 1rem;
  padding: 10px;
}

.social-media-image {
  margin-top: 20px;
  width: 3rem;
}

@media screen and (max-width: 768px) {

    html {
        font-size: 40%;
    }
    
    /*Header's code*/
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;
      }
      
      .logo-image {
        width: 7.5rem;
      }
      
      .ul-header li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1.3rem;
      }
      
      .ul-header a {
        text-decoration: none;
        color: var(--branco-principal);
        font-size: 1.5rem;
        transition: 0.5s;
      }
      
      .ul-header a:hover {
        background-color: var(--branco-principal);
        color: var(--preto-principal);
      }
      
      
      
      /*Main's code*/
      main {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      }
      
      main h1 {
          color: var(--branco-principal);
      }
      
      .workout-flex {
          width: 30rem;
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 3rem;
          row-gap: 1rem;
          justify-content: center;
          align-items: center;
      }
      
      .workout-container {
          width: 25rem;
          height: 30rem;
          display: flex;
          flex-direction: column;
          margin-right: 3rem;
          cursor: pointer;
      }
      
      .workout-container h2 {
          color: var(--branco-principal);
          text-align: center;
      }
      
      .workout-image {
          width: 100%;
          height: 20rem;
          object-fit: cover;
      }
      
      .workout-button {
          background-color: #111E31;
          color: var(--branco-principal);
          font-size: 1rem;
          padding: 1.5rem;
          width: 100%;
          border: none;
          cursor: pointer;
      }
      
      
      
      
      /*Foot's code*/
      footer {
        display: flex;
        justify-content: space-around;
        padding: 2rem;
      }
      
      .copyright-container {
        display: flex;
        flex-direction: column;
      }
      
      .logo-image-container {
          margin: 0 auto;
      }
      
      .copyright-text {
        color: var(--branco-principal);
        font-size: 1.3rem;
        margin-top: 1rem;
        width: 10rem;
      }
      
      .copyright-letter {
        font-size: 1.5rem;
        vertical-align: middle;
      }
      
      .container-social-media {
        color: var(--branco-principal)
      }
      
      .social-media-text {
          text-align: center;
          font-size: 1.5rem;
          margin-right: 2rem;
      }
      
      .ul-footer {
        display: flex;
      }
      
      .ul-footer li {
        list-style-type: none;
        margin-right: 1rem;
        padding: 1rem;
      }
      
      .social-media-image {
        margin-top: 1rem;
        width: 3rem;
      }
}



